In [2]:
import pandas as pd

In [3]:
df = pd.read_csv ('storms.csv')
df.head()

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,1,Amy,1975,6,27,0,27.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
1,2,Amy,1975,6,27,6,28.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
2,3,Amy,1975,6,27,12,29.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
3,4,Amy,1975,6,27,18,30.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
4,5,Amy,1975,6,28,0,31.5,-78.8,tropical depression,NaN,25,1012,NaN,NaN

In [4]:
catfive_df = df[df['category'] == 5]

# Display the resulting data frame
catfive_df.head()

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
378,379,Anita,1977,9,2,0,24.6,-96.2,hurricane,5.0,140,931,NaN,NaN
379,380,Anita,1977,9,2,6,24.2,-97.1,hurricane,5.0,150,926,NaN,NaN
732,733,David,1979,8,30,6,16.0,-64.2,hurricane,5.0,140,925,NaN,NaN
733,734,David,1979,8,30,12,16.3,-65.2,hurricane,5.0,145,924,NaN,NaN
734,735,David,1979,8,30,18,16.6,-66.2,hurricane,5.0,150,924,NaN,NaN

In [6]:
df_no_duplicates = catfive_df.drop_duplicates(subset='name', keep='first')

# Display the resulting data frame
df_no_duplicates.head(100)

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
378,379,Anita,1977,9,2,0,24.6,-96.2,hurricane,5.0,140,931,NaN,NaN
732,733,David,1979,8,30,6,16.0,-64.2,hurricane,5.0,140,925,NaN,NaN
948,949,Allen,1980,8,5,0,14.8,-66.7,hurricane,5.0,140,911,NaN,NaN
3042,3043,Gilbert,1988,9,13,18,19.4,-82.5,hurricane,5.0,140,905,NaN,NaN
3498,3499,Hugo,1989,9,15,18,14.6,-54.6,hurricane,5.0,140,918,NaN,NaN
4325,4326,Andrew,1992,8,23,12,25.4,-74.2,hurricane,5.0,145,933,NaN,NaN
6949,6950,Mitch,1998,10,26,12,16.6,-82.6,hurricane,5.0,145,914,NaN,NaN
9133,9134,Isabel,2003,9,11,18,21.5,-54.8,hurricane,5.0,145,915,NaN,NaN
9732,9733,Ivan III,2004,9,9,6,13.7,-69.5,hurricane,5.0,140,925,265.0,75.0
10187,10188,Emily V,2005,7,17,0,17.1,-79.5,hurricane,5.0,140,929,190.0,65.0
10403,10404,Katrina III,2005,8,28,12,25.7,-87.7,hurricane,5.0,145,909,320.0,165.0
10635,10636,Rita,2005,9,21,18,24.3,-86.2,hurricane,5.0,145,920,275.0,100.0
10720,10721,Wilma,2005,10,19,6,17.0,-82.2,hurricane,5.0,150,892,230.0,45.0
11374,11375,Dean V,2007,8,18,6,15.0,-66.6,hurricane,5.0,145,929,300.0,80.0
11428,11429,Felix IV,2007,9,3,0,13.8,-73.0,hurricane,5.0,150,935,175.0,45.0
15789,15790,Matthew,2016,10,1,0,13.4,-71.9,hurricane,5.0,145,942,260.0,60.0
16159,16160,Irma,2017,9,5,12,16.7,-57.8,hurricane,5.0,150,929,240.0,80.0
16375,16376,Maria III,2017,9,19,0,15.3,-61.1,hurricane,5.0,145,924,200.0,50.0
17072,17073,Michael III,2018,10,10,17,30.0,-85.5,hurricane,5.0,140,919,220.0,60.0
17238,17239,Dorian,2019,9,1,6,26.4,-75.6,hurricane,5.0,145,934,200.0,50.0
17470,17471,Lorenzo IV,2019,9,29,3,24.3,-45.0,hurricane,5.0,140,925,380.0,90.0

In [5]:
#csv came from https://www.kaggle.com/datasets/utkarshx27/noaa-atlantic-hurricane-database

In [7]:
columns_to_drop = ['tropicalstorm_force_diameter', 'hurricane_force_diameter']

# Drop the specified columns
final_df = df_no_duplicates.drop(columns=columns_to_drop)
final_df

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure
378,379,Anita,1977,9,2,0,24.6,-96.2,hurricane,5.0,140,931
732,733,David,1979,8,30,6,16.0,-64.2,hurricane,5.0,140,925
948,949,Allen,1980,8,5,0,14.8,-66.7,hurricane,5.0,140,911
3042,3043,Gilbert,1988,9,13,18,19.4,-82.5,hurricane,5.0,140,905
3498,3499,Hugo,1989,9,15,18,14.6,-54.6,hurricane,5.0,140,918
4325,4326,Andrew,1992,8,23,12,25.4,-74.2,hurricane,5.0,145,933
6949,6950,Mitch,1998,10,26,12,16.6,-82.6,hurricane,5.0,145,914
9133,9134,Isabel,2003,9,11,18,21.5,-54.8,hurricane,5.0,145,915
9732,9733,Ivan III,2004,9,9,6,13.7,-69.5,hurricane,5.0,140,925
10187,10188,Emily V,2005,7,17,0,17.1,-79.5,hurricane,5.0,140,929
10403,10404,Katrina III,2005,8,28,12,25.7,-87.7,hurricane,5.0,145,909
10635,10636,Rita,2005,9,21,18,24.3,-86.2,hurricane,5.0,145,920
10720,10721,Wilma,2005,10,19,6,17.0,-82.2,hurricane,5.0,150,892
11374,11375,Dean V,2007,8,18,6,15.0,-66.6,hurricane,5.0,145,929
11428,11429,Felix IV,2007,9,3,0,13.8,-73.0,hurricane,5.0,150,935
15789,15790,Matthew,2016,10,1,0,13.4,-71.9,hurricane,5.0,145,942
16159,16160,Irma,2017,9,5,12,16.7,-57.8,hurricane,5.0,150,929
16375,16376,Maria III,2017,9,19,0,15.3,-61.1,hurricane,5.0,145,924
17072,17073,Michael III,2018,10,10,17,30.0,-85.5,hurricane,5.0,140,919
17238,17239,Dorian,2019,9,1,6,26.4,-75.6,hurricane,5.0,145,934
17470,17471,Lorenzo IV,2019,9,29,3,24.3,-45.0,hurricane,5.0,140,925

In [8]:
#Create data frame to include all data points for category 5 hurricanes
print(final_df['name'])
target_names = final_df['name'].tolist()

378            Anita
732            David
948            Allen
3042         Gilbert
3498            Hugo
4325          Andrew
6949           Mitch
9133          Isabel
9732        Ivan III
10187        Emily V
10403    Katrina III
10635           Rita
10720          Wilma
11374         Dean V
11428       Felix IV
15789        Matthew
16159           Irma
16375      Maria III
17072    Michael III
17238         Dorian
17470     Lorenzo IV
Name: name, dtype: object

In [9]:
# target_names = ['Anita','David','Allen','Gilbert','Hugo','Andrew','Mitch','Isabel','Ivan','Emily','Katrina','Rita','Wilma','Dean','Felix','Matthew','Irma','Maria','Michael','Dorian','Lorenzo']
# target_names = ['Anita','David','Allen','Gilbert','Hugo','Andrew','Mitch','Isabel',               'Katrina','Rita','Wilma',               'Matthew','Irma',                  'Dorian'          ]
filtered_df = df[df['name'].isin(target_names)]

# Display the filtered DataFrame
filtered_df.head(25)

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
364,365,Anita,1977,8,29,12,26.9,-88.4,tropical depression,NaN,20,1012,NaN,NaN
365,366,Anita,1977,8,29,18,27.0,-88.9,tropical depression,NaN,25,1010,NaN,NaN
366,367,Anita,1977,8,30,0,26.9,-89.4,tropical depression,NaN,30,1009,NaN,NaN
367,368,Anita,1977,8,30,6,26.8,-89.8,tropical storm,NaN,40,1006,NaN,NaN
368,369,Anita,1977,8,30,12,26.7,-90.3,tropical storm,NaN,50,1003,NaN,NaN
369,370,Anita,1977,8,30,18,26.5,-90.6,hurricane,1.0,65,997,NaN,NaN
370,371,Anita,1977,8,31,0,26.4,-91.0,hurricane,1.0,70,991,NaN,NaN
371,372,Anita,1977,8,31,6,26.3,-91.4,hurricane,1.0,75,988,NaN,NaN
372,373,Anita,1977,8,31,12,26.2,-91.8,hurricane,1.0,75,986,NaN,NaN
373,374,Anita,1977,8,31,18,26.1,-92.3,hurricane,1.0,80,985,NaN,NaN
374,375,Anita,1977,9,1,0,25.9,-92.8,hurricane,1.0,80,979,NaN,NaN
375,376,Anita,1977,9,1,6,25.8,-93.7,hurricane,2.0,85,972,NaN,NaN
376,377,Anita,1977,9,1,12,25.5,-94.7,hurricane,2.0,90,963,NaN,NaN
377,378,Anita,1977,9,1,18,25.2,-95.5,hurricane,3.0,110,945,NaN,NaN
378,379,Anita,1977,9,2,0,24.6,-96.2,hurricane,5.0,140,931,NaN,NaN
379,380,Anita,1977,9,2,6,24.2,-97.1,hurricane,5.0,150,926,NaN,NaN
380,381,Anita,1977,9,2,12,23.7,-98.0,hurricane,4.0,120,940,NaN,NaN
381,382,Anita,1977,9,2,18,23.1,-99.2,hurricane,1.0,70,978,NaN,NaN
382,383,Anita,1977,9,3,0,22.5,-101.0,tropical storm,NaN,40,998,NaN,NaN
383,384,Anita,1977,9,3,6,22.0,-103.0,tropical depression,NaN,25,1011,NaN,NaN
575,576,Irma,1978,10,2,12,31.7,-31.5,subtropical depression,NaN,30,1010,NaN,NaN
576,577,Irma,1978,10,2,18,32.0,-31.5,subtropical depression,NaN,30,1006,NaN,NaN
577,578,Irma,1978,10,4,12,35.1,-31.5,tropical storm,NaN,40,1004,NaN,NaN
578,579,Irma,1978,10,4,18,35.8,-31.4,tropical storm,NaN,45,1002,NaN,NaN
579,580,Irma,1978,10,5,0,36.7,-31.2,tropical storm,NaN,45,1001,NaN,NaN

In [10]:
columns_to_drop = ['tropicalstorm_force_diameter', 'hurricane_force_diameter','category']

# Drop the specified columns
final_df = filtered_df.drop(columns=columns_to_drop)
final_df.head()

,Unnamed: 0,name,year,month,day,hour,lat,long,status,wind,pressure
364,365,Anita,1977,8,29,12,26.9,-88.4,tropical depression,20,1012
365,366,Anita,1977,8,29,18,27.0,-88.9,tropical depression,25,1010
366,367,Anita,1977,8,30,0,26.9,-89.4,tropical depression,30,1009
367,368,Anita,1977,8,30,6,26.8,-89.8,tropical storm,40,1006
368,369,Anita,1977,8,30,12,26.7,-90.3,tropical storm,50,1003

In [11]:
target_status = ['hurricane']
hurricane_status_df = final_df[df['status'].isin(target_status)]
hurricane_status_df.head(20)
len(hurricane_status_df)

/var/folders/z1/chlqxcbx1yvghhdq4jfxjqnw0000gn/T/ipykernel_76666/2430659033.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hurricane_status_df = final_df[df['status'].isin(target_status)]

658

In [11]:
hurricane_status_df.to_csv('hurricanes.csv', index=False)

In [ ]:
hurricane_status_df.to_csv('hurricanes.csv', index=False)

In [12]:
#Converting df to json
json_data = hurricane_status_df.to_json(orient='records')

In [13]:
#Output json to new file
with open('hurricanes.json', 'w') as json_file:
    json_file.write(json_data)